In [337]:
import pandas as pd
import numpy as np
#anger = pandas.DataFrame(anger, columns=['domicile', 'externe', 'but_domicie', 'but_externe'])

angers = pandas.read_csv('dataset-6-random-score-Angers.csv')
recap = pandas.read_csv('teams.csv')
pt_angers = 0
pt_paris = 0
pt_rennes = 0
pt_marseille = 0
pt_nice = 0
pt_lens = 0
pt_brest = 0
pt_lille = 0
pt_strasbourg = 0
pt_monaco = 0
pt_montpellier = 0
pt_lyon = 0
pt_nantes = 0
pt_reims = 0
pt_troyes = 0
pt_lorient = 0
pt_clemont = 0
pt_bordeaux = 0
pt_metz = 0
pt_sant_etienne = 0
angers

   domicile        externe   but_domicie   but_externe
0    Angers       Paris-SG             5             3
1    Angers         Rennes             2             5
2    Angers      Marseille             3             5
3    Angers           Nice             1             3
4    Angers           Lens             0             2
5    Angers          Brest             5             3
6    Angers          Lille             1             5
7    Angers     Strasbourg             2             5
8    Angers         Monaco             5             0
9    Angers    Montpellier             5             2
10   Angers           Lyon             3             3
11   Angers         Nantes             1             0
12   Angers          Reims             1             3
13   Angers         Troyes             4             2
14   Angers        Lorient             5             4
15   Angers       Clermont             4             0
16   Angers       Bordeaux             1             3
17   Angers           Metz             3             0
18   Angers  Saint-Etienne             0             1

In [160]:
domicile = angers.iloc[0,0]
externe = angers.iloc[0,1]
compteur=0
A=0
B=0
C=0
D=0
while (compteur < 19):
    
    if angers.iloc[0,2]>angers.iloc[0,3]:
        pt_angers = pt_angers+3
    elif angers.iloc[0,2]<angers.iloc[0,3]:
        pt_paris = pt_paris+3
    elif angers.iloc[0,2]<angers.iloc[0,3]:
        pt_paris=pt_paris+1
        pt_angers=pt_angers+1
    print(pt_angers,pt_paris)
    compteur = compteur+1

3 0
6 0
9 0
12 0
15 0
18 0
21 0
24 0
27 0
30 0
33 0
36 0
39 0
42 0
45 0
48 0
51 0
54 0
57 0

In [87]:
bordeaux = pandas.read_csv('dataset-6-random-score-Bordeaux.csv')

In [88]:
brest = pandas.read_csv('dataset-6-random-score-Brest.csv')

In [89]:
clermont = pandas.read_csv('dataset-6-random-score-Clermont.csv')

In [106]:
lens = pandas.read_csv('dataset-6-random-score-Lens.csv')

In [91]:
lille = pandas.read_csv('dataset-6-random-score-Lille.csv')

In [92]:
lorient = pandas.read_csv('dataset-6-random-score-Lorient.csv')

In [93]:
lyon = pandas.read_csv('dataset-6-random-score-Lyon.csv')

In [94]:
marseille = pandas.read_csv('dataset-6-random-score-Marseille.csv')

In [95]:
metz = pandas.read_csv('dataset-6-random-score-Metz.csv')

In [96]:
monaco = pandas.read_csv('dataset-6-random-score-Monaco.csv')

In [97]:
montpellier = pandas.read_csv('dataset-6-random-score-Montpellier.csv')

In [98]:
nantes = pandas.read_csv('dataset-6-random-score-Nantes.csv')

In [99]:
nice = pandas.read_csv('dataset-6-random-score-Nice.csv')

In [100]:
paris = pandas.read_csv('dataset-6-random-score-Paris-SG.csv')

In [101]:
reims = pandas.read_csv('dataset-6-random-score-Reims.csv')

In [102]:
rennes = pandas.read_csv('dataset-6-random-score-Rennes.csv')

In [103]:
etienne = pandas.read_csv('dataset-6-random-score-Saint-Etienne.csv')

In [104]:
strasbourg = pandas.read_csv('dataset-6-random-score-Strasbourg.csv')

In [105]:
troyes = pandas.read_csv('dataset-6-random-score-Troyes.csv')

In [260]:
data_frame = [angers,bordeaux,brest,clermont,lens,lille,lorient,lyon,marseille,metz,monaco,montpellier,nantes,nice,paris,reims,rennes,etienne,strasbourg,troyes]
data_frame_all = pandas.concat(data_frame, axis=0)
data_frame_all

   domicile        externe   but_domicie   but_externe
0    Angers       Paris-SG             5             3
1    Angers         Rennes             2             5
2    Angers      Marseille             3             5
3    Angers           Nice             1             3
4    Angers           Lens             0             2
..      ...            ...           ...           ...
14   Troyes        Lorient             5             0
15   Troyes       Clermont             3             3
16   Troyes       Bordeaux             2             4
17   Troyes           Metz             1             5
18   Troyes  Saint-Etienne             4             0

[380 rows x 4 columns]

In [366]:
def calPointTotalEquipe(frame, equipe):
    pt=0
    for row in frame.itertuples():
        ##match Alle
        if(row[3]> row[4] and row[0]==equipe):
            pt+=3
        if(row[3] == row[4]):
            pt+=1
        ##match retour
        if(row[3] < row[4] and row[1]==equipe):
            pt+=3
        if(row[3] == row[4] and row[1]==equipe):
            pt+=1
    return pt
#def pointPouruneequipe(frame, equipe):
#    pt=0
#   for row in frame.itertuples():
#        if(row[3] < row[4] and row[1]==equipe):
#            pt+=3
#        if(row[3] == row[4] and row[1]==equipe):
#            pt+=1
#    return pt
listeEquipe=["Angers","Paris-SG","Rennes","Marseille","Nice","Lens","Brest","Lille","Strasbourg","Monaco","Montpellier"
             ,"Lyon","Nantes","Reims","Troyes","Lorient","Clermont","Bordeaux","Metz","Saint-Etienne"]

def allmarks(data, Lequipe, equipe):
    for n in Lequipe:
        if(n == equipe):
            PT = calPointTotalEquipe(data_frame_all, n)
            return PT
        
    
pt_angers=allmarks(data_frame_all, listeEquipe, "Angers")
pt_paris=allmarks(data_frame_all, listeEquipe, "Paris-SG")
pt_rennes = allmarks(data_frame_all, listeEquipe, "Rennes")
pt_marseille = allmarks(data_frame_all, listeEquipe, "Marseille")
pt_nice = allmarks(data_frame_all, listeEquipe, "Nice")
pt_lens = allmarks(data_frame_all, listeEquipe, "Lens")
pt_brest = allmarks(data_frame_all, listeEquipe, "Brest")
pt_lille = allmarks(data_frame_all, listeEquipe, "Lille")
pt_strasbourg = allmarks(data_frame_all, listeEquipe, "Strasbourg")
pt_monaco = allmarks(data_frame_all, listeEquipe, "Monaco")
pt_montpellier = allmarks(data_frame_all, listeEquipe, "Montpellier")
pt_lyon = allmarks(data_frame_all, listeEquipe, "Lyon")
pt_nantes = allmarks(data_frame_all, listeEquipe, "Nantes")
pt_reims = allmarks(data_frame_all, listeEquipe, "Reims")
pt_troyes = allmarks(data_frame_all, listeEquipe, "Troyes")
pt_lorient = allmarks(data_frame_all, listeEquipe, "Lorient")
pt_clemont = allmarks(data_frame_all, listeEquipe, "Clermont")
pt_bordeaux = allmarks(data_frame_all, listeEquipe, "Bordeaux")
pt_metz = allmarks(data_frame_all, listeEquipe, "Metz")
pt_sant_etienne = allmarks(data_frame_all, listeEquipe, "Saint-Etienne")

#len(data_frame_all[data_frame_all[:,0]==Angers])

columns = ['Angers','Paris-SG','Rennes','Marseille','Nice','Lens','Brest','Lille','Strasbourg','Monaco','Montpellier','Lyon','Nantes','Reims','Troyes','Lorient','Clermont','Bordeaux','Metz','Saint-Etienne']

angers=np.array(([pt_angers]))
bordeaux=np.array(([pt_bordeaux]))
brest=np.array(([pt_brest]))
clermont=np.array(([pt_clemont]))
lens=np.array(([pt_lens]))
lille=np.array(([pt_lille]))
lorient=np.array(([pt_lorient]))
lyon=np.array(([pt_lyon]))
marseille=np.array(([pt_marseille]))
metz=np.array(([pt_metz]))
monaco=np.array(([pt_monaco]))
montpellier=np.array(([pt_montpellier]))
nantes=np.array(([pt_nantes]))
nice=np.array(([pt_nice]))
paris=np.array(([pt_paris]))
reims=np.array(([pt_reims]))
rennes=np.array(([pt_rennes]))
etienne=np.array(([pt_sant_etienne]))
strasbourg=np.array(([pt_strasbourg]))
troyes=np.array(([pt_troyes]))

recap=pandas.Series(['angers','bordeaux','brest','clermont','lens','lille','lorient','lyon','marseille','metz','monaco','montpellier','nantes','nice','paris','reims','rennes','etienne','strasbourg','troyes'],[pt_angers,pt_bordeaux,pt_brest,pt_clemont,pt_lens,pt_lille,pt_lorient,pt_lyon,pt_marseille,pt_metz,pt_monaco,pt_montpellier,pt_nantes,pt_nice,pt_paris,pt_reims,pt_rennes,pt_sant_etienne,pt_strasbourg,pt_troyes])
data_racap=pandas.DataFrame(recap, columns=['club'])
#data_racap.sort_index(by = 'Club', ascending = False)
print(data_racap)

           club
77       angers
71     bordeaux
71        brest
82     clermont
75         lens
72        lille
77      lorient
77         lyon
65    marseille
87         metz
81       monaco
71  montpellier
68       nantes
75         nice
81        paris
72        reims
69       rennes
76      etienne
59   strasbourg
79       troyes

In [188]:
externe = angers.iloc[0,1]
but_externe = angers.iloc[0,3]
print(externe, but_externe)

Paris-SG 3

In [313]:
data_frame_all[:,0]

TypeError: '(slice(None, None, None), 0)' is an invalid key